workflows/calendar-digest.json
{
  "name": "calendar-digest",
  "nodes": [
    {
      "parameters": {
        "path": "calendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        192
      ],
      "id": "784b71d2-9696-4d39-baf6-30ff586fc9e3",
      "name": "Webhook",
      "webhookId": "0ad0925e-0d76-4075-a99f-68b3cd206968"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/calendar/v3/users/me/calendarList",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "d21cadad-9e8f-4521-a7e0-dd88b0400210",
      "name": "HTTP Request",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CAL_CRED_ID",
          "name": "My Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "6ef8740e-04fd-4d28-a770-3f0e40991074",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.id) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $now.startOf('day').toISO() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $now.plus(7, 'days').toISO() }}"
            },
            {
              "name": "singleEvents",
              "value": "=true"
            },
            {
              "name": "orderBy",
              "value": "=startTime"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "56a046fa-41b8-41f8-8187-958d6f7be288",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CAL_CRED_ID",
          "name": "My Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function toIso(dt, tz) {\n  if (!dt) return '';\n  if (tz === 'UTC' && !/Z$/.test(dt)) return dt.replace(/\\.\\d+$/, '') + '.000Z';\n  return dt;\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const isOutlookEvent = j.subject !== undefined || j.webLink !== undefined;\n  if (isOutlookEvent) {\n    out.push({\n      calendar: j.calendarName || '',\n      account: j.account || '',\n      source: 'Outlook',\n      title: j.subject || '(no title)',\n      start: toIso(j.start?.dateTime, j.start?.timeZone),\n      end: toIso(j.end?.dateTime, j.end?.timeZone),\n      allDay: !!j.isAllDay,\n      location: j.location?.displayName || '',\n      status: j.isCancelled ? 'cancelled' : 'confirmed',\n      link: j.webLink || ''\n    });\n  } else {\n    const cal = j.calendarName || j.summaryOverride || j.summary || '';\n    const events = j.items || [];\n    for (const e of events) {\n      out.push({\n        calendar: cal,\n        account: j.account || 'Google',\n        source: 'Google',\n        title: e.summary || '(no title)',\n        start: e.start?.dateTime || e.start?.date || '',\n        end: e.end?.dateTime || e.end?.date || '',\n        allDay: !!e.start?.date,\n        location: e.location || '',\n        status: e.status || '',\n        link: e.htmlLink || ''\n      });\n    }\n  }\n}\n\nout.sort((a, b) => new Date(a.start) - new Date(b.start));\n\n// de-dupe: the same meeting can appear twice if an Outlook calendar is also imported into Google\nconst seen = new Set();\nconst deduped = [];\nfor (const ev of out) {\n  const norm = s => (s || '').toString().trim().toLowerCase();\n  const startMinute = ev.start ? new Date(ev.start).toISOString().slice(0, 16) : '';\n  const key = [norm(ev.title), startMinute].join('|');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(ev);\n}\n\nreturn [{ json: {\n  count: deduped.length,\n  duplicatesRemoved: out.length - deduped.length,\n  generatedAt: new Date().toISOString(),\n  events: deduped\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ],
      "id": "f3007d17-3af1-4c61-b804-60799f2cfcb9",
      "name": "Flatten and Sort"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        192
      ],
      "id": "0aa5d560-9333-49d6-87d2-90e767d96803",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "237415b6-eca3-4d3b-9f75-50d3fa042389",
              "name": "calendarName",
              "value": "={{ $('Split Out').item.json.summaryOverride || $('Split Out').item.json.summary }}",
              "type": "string"
            },
            {
              "id": "8b1c1f2a-1111-4a3b-9c2d-aaa111111111",
              "name": "account",
              "value": "Google",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "9802deb0-565a-42f6-a641-8986549f0cad",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "calendar",
        "returnAll": true,
        "filters": {}
      },
      "id": "5059ed25-de99-4ef3-8696-ea0e05ee4d67",
      "name": "Get Account1 Calendars",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "webhookId": "7f1ed24b-e534-4f9c-80dd-22be25a43a07",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CRED_ID_1",
          "name": "Outlook Account 1"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "fromAllCalendars": false,
        "calendarId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "includeRecurringInstances": true,
        "startDateTime": "={{ $now.startOf('day').toISO() }}",
        "endDateTime": "={{ $now.plus(7,'days').toISO() }}",
        "returnAll": true,
        "output": "raw"
      },
      "id": "c4c0d74e-beb8-498f-9e67-ed9c5c397973",
      "name": "Get Account1 Events",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        448,
        192
      ],
      "webhookId": "f8fe8e3c-aac7-4784-ae8a-4bd6cfc19a3f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CRED_ID_1",
          "name": "Outlook Account 1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b1c1f2a-2222-4a3b-9c2d-aaa222222222",
              "name": "calendarName",
              "value": "={{ $('Get Account1 Calendars').item.json.name }}",
              "type": "string"
            },
            {
              "id": "8b1c1f2a-3333-4a3b-9c2d-aaa333333333",
              "name": "account",
              "value": "Account1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "98afda19-f593-4ace-b9c6-f79290d4d680",
      "name": "Edit Fields Account1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "returnAll": true,
        "filters": {}
      },
      "id": "5ba65098-667a-44a1-a354-3d884a6c550a",
      "name": "Get Account2 Calendars",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        224,
        384
      ],
      "webhookId": "5caec475-4c74-444d-84f6-752e86be373f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CRED_ID_2",
          "name": "Outlook Account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "fromAllCalendars": false,
        "calendarId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "includeRecurringInstances": true,
        "startDateTime": "={{ $now.startOf('day').toISO() }}",
        "endDateTime": "={{ $now.plus(7,'days').toISO() }}",
        "returnAll": true,
        "output": "raw"
      },
      "id": "e92f69f7-d030-44b8-8c71-49a99d66ab63",
      "name": "Get Account2 Events",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        448,
        384
      ],
      "webhookId": "265c9de6-1f84-4571-86b0-e07b1dfe955e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CRED_ID_2",
          "name": "Outlook Account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b1c1f2a-4444-4a3b-9c2d-aaa444444444",
              "name": "calendarName",
              "value": "={{ $('Get Account2 Calendars').item.json.name }}",
              "type": "string"
            },
            {
              "id": "8b1c1f2a-5555-4a3b-9c2d-aaa555555555",
              "name": "account",
              "value": "Account2",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "86a629c3-6a2f-4451-baaf-67a9988ea806",
      "name": "Edit Fields Account2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        384
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "dc1d0851-0fc2-458e-adfb-773b27c99d90",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account1 Calendars",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account2 Calendars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten and Sort": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account1 Calendars": {
      "main": [
        [
          {
            "node": "Get Account1 Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account1 Events": {
      "main": [
        [
          {
            "node": "Edit Fields Account1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Account1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Account2 Calendars": {
      "main": [
        [
          {
            "node": "Get Account2 Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account2 Events": {
      "main": [
        [
          {
            "node": "Edit Fields Account2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Account2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Flatten and Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 30
  },
  "versionId": "e2669e76-2a36-4e12-98a4-c628fc962e26",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "tr0orqmOqz5GiQ4F",
  "tags": []
}