workflows/email-digest.json
{
  "name": "email-digest",
  "nodes": [
    {
      "parameters": {
        "path": "email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        672
      ],
      "id": "3e4e75ac-2020-4b66-bd41-4473f3182bff",
      "name": "Webhook",
      "webhookId": "ff6ca0ab-b437-4b09-987d-4df5fcf7e8c1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        1344
      ],
      "id": "b464b3db-39f8-41b7-9cf1-48784836ff33",
      "name": "Get Gmail4 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_4_ID",
          "name": "Gmail Account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        1152
      ],
      "id": "de067da5-47b2-4ac4-90ec-a94b3c1c72a0",
      "name": "Get Gmail3 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_3_ID",
          "name": "Gmail Account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        768
      ],
      "id": "0bf9c992-c778-4d0d-9eb7-4b0de64aac4c",
      "name": "Get Gmail1 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_1_ID",
          "name": "Gmail Account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        960
      ],
      "id": "87cbb3b6-b2d0-4537-bca6-f520b35ffc5d",
      "name": "Get Gmail2 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_2_ID",
          "name": "Gmail Account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        576
      ],
      "id": "6f0f42d4-1f2c-4f2c-897a-641b66b32d0b",
      "name": "Get Gmail5 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_5_ID",
          "name": "Gmail Account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        384
      ],
      "id": "2c323fe8-e8dd-458c-b891-1249d69b789f",
      "name": "Get Gmail6 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_6_ID",
          "name": "Gmail Account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Gmail Account 1",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        768
      ],
      "id": "e0de2872-fbe8-48b4-a26a-026bc475ede0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Gmail Account 4",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1344
      ],
      "id": "f5a47a59-1d55-47f7-b6f9-c986c70a9c6e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Gmail Account 2",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        960
      ],
      "id": "55228ebf-968c-4ed0-bb5e-42d49917b0fc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Gmail Account 3",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1152
      ],
      "id": "58cd87c3-bdd2-4c98-8a7b-a1c44e4b2699",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Gmail Account 5",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        576
      ],
      "id": "eda4dc56-ee19-4c95-b4a9-bcba522e1067",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Gmail Account 6",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        384
      ],
      "id": "205c7702-bd73-46de-95cc-c6703cae02ae",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        672
      ],
      "id": "02f8525c-4955-4a7e-86b6-267367951080",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        576
      ],
      "id": "a56df49f-30ab-4fe8-a90f-fbf518d7a68c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const isGmail = j.internalDate !== undefined || j.labels !== undefined || j.threadId !== undefined;\n  if (isGmail) {\n    out.push({\n      account: j.account || j.To || '',\n      source: 'Gmail',\n      from: j.From || '',\n      subject: j.Subject || '',\n      snippet: j.snippet || '',\n      date: j.internalDate ? new Date(Number(j.internalDate)).toISOString() : ''\n    });\n  } else {\n    out.push({\n      account: j.account || (Array.isArray(j.to) ? j.to[0]?.address : '') || '',\n      source: 'Outlook',\n      from: (typeof j.from === 'string' ? j.from : j.from?.emailAddress?.address) || '',\n      subject: j.subject || '',\n      snippet: j.bodyPreview || '',\n      date: j.receivedDateTime || j.sentDateTime || ''\n    });\n  }\n}\n\n// newest first, so the copy we keep is the freshest\nout.sort((a, b) => new Date(b.date) - new Date(a.date));\n\n// de-dupe: collapse the same message arriving in multiple mailboxes\nconst seen = new Set();\nconst deduped = [];\nfor (const m of out) {\n  const norm = s => (s || '').toString().trim().toLowerCase();\n  const key = [\n    norm(m.from).replace(/.*<([^>]+)>.*/, '$1'),   // just the email if \"Name <email>\"\n    norm(m.subject),\n    norm(m.snippet).slice(0, 80)                    // first 80 chars guards against same-subject notifications\n  ].join('|');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(m);\n}\n\nreturn [{ json: {\n  count: deduped.length,\n  duplicatesRemoved: out.length - deduped.length,\n  generatedAt: new Date().toISOString(),\n  messages: deduped\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        672
      ],
      "id": "6c6c35a1-5276-4a97-80a8-719e6ce53e3f",
      "name": "Normalize, Sort"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ $now.minus(1,'day').toISO() }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "fb7812c6-f21e-497b-8707-6bc8439b471b",
      "name": "Get Outlook1 Mail",
      "webhookId": "aa1aa4e2-905f-4fea-85b5-f723d0024df7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CRED_1_ID",
          "name": "Outlook Account 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ $now.minus(1,'day').toISO() }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "c47a5b30-d3d6-4d34-b6d2-d62fb19e921e",
      "name": "Get Outlook2 Mail",
      "webhookId": "aa1aa4e2-905f-4fea-85b5-f723d0024df7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CRED_2_ID",
          "name": "Outlook Account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Outlook Account 1",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Outlook",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "75277782-af96-4681-a982-b6e58ef124d1",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Outlook Account 2",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Outlook",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        192
      ],
      "id": "fb4ecd23-1682-43f6-adae-5ae78c676963",
      "name": "Edit Fields7"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Outlook1 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Outlook2 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Gmail6 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Gmail5 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Gmail1 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Gmail2 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Gmail3 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Gmail4 Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail1 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail4 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail2 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail3 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail5 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail6 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Normalize, Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize, Sort": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outlook1 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outlook2 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 60
  },
  "versionId": "edddd80d-9be4-4d4e-ae75-60f959c552c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "b721Oi5URJdGxvca",
  "tags": []
}