workflows/email-digest.json
{
  "id": "b721Oi5URJdGxvca",
  "name": "Daily Digest - Email",
  "active": true,
  "isArchived": false,
  "description": "This pulls emails from multiple Gmail and Outlook accounts, merges, sorts, cleans and outputs them to be used in a daily digest",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "nodes": [
    {
      "parameters": { "path": "email", "responseMode": "responseNode", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-176, 176],
      "id": "e9f72137-24b2-4372-84f7-a048b723e1e6",
      "name": "Webhook",
      "webhookId": "ff6ca0ab-b437-4b09-987d-4df5fcf7e8c1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": { "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [48, 848],
      "id": "fdcaa9ad-26f2-4951-a846-59afedcf3fe6",
      "name": "Get JonDoe@Gmail6 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": { "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [48, 656],
      "id": "275a20c7-22e9-42db-9d0a-ce9056d35dc1",
      "name": "Get JonDoe@Gmail5 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": { "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [48, 272],
      "id": "bf01b065-0181-4427-8040-2f9e1fa81f2f",
      "name": "Get JonDoe@Gmail3 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": { "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [48, 464],
      "id": "a7c986e5-631b-4cef-9187-fe0f7242af22",
      "name": "Get JonDoe@Gmail4 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": { "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [48, 80],
      "id": "5d54cb70-e01c-4afa-acab-75eacad61704",
      "name": "Get JonDoe@Gmail2 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": { "receivedAfter": "={{ $now.minus(1, 'day').toISO() }}" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [48, -112],
      "id": "92213ac4-9800-4665-bde0-86d3f6982fc7",
      "name": "Get JonDoe@Gmail1 Mail",
      "webhookId": "284468c9-9c6a-4d44-a376-8a7a6cad68f5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Gmail3", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Gmail", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, 272],
      "id": "d8219fec-68ca-477b-a625-b23268268c07",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Gmail6", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Gmail", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, 848],
      "id": "cd1af043-870b-4bab-839c-3a7afaa7050e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Gmail4", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Gmail", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, 464],
      "id": "88497cf7-abd7-4cae-80fa-b5896fd1fdbc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Gmail5", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Gmail", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, 656],
      "id": "8d5aa628-e373-46db-92bf-1b3347ac56e0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Gmail2", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Gmail", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, 80],
      "id": "08cf7c49-b9e7-4e88-87eb-e29182cb80d8",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Gmail1", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Gmail", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, -112],
      "id": "0aa4d458-70bd-4529-a1c1-ec723584357d",
      "name": "Edit Fields5"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [944, 176],
      "id": "db651638-45bd-4ec7-873f-2f23921e1244",
      "name": "Respond to Webhook"
    },
    {
      "parameters": { "numberInputs": 8 },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [496, 80],
      "id": "00e6b505-ea9b-4cc3-bfe1-82aecfc1b4f7",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const isGmail = j.internalDate !== undefined || j.labels !== undefined || j.threadId !== undefined;\n  if (isGmail) {\n    out.push({\n      account: j.account || j.To || '',\n      source: 'Gmail',\n      from: j.From || '',\n      subject: j.Subject || '',\n      snippet: j.snippet || '',\n      date: j.internalDate ? new Date(Number(j.internalDate)).toISOString() : ''\n    });\n  } else {\n    out.push({\n      account: j.account || (Array.isArray(j.to) ? j.to[0]?.address : '') || '',\n      source: 'Outlook',\n      from: (typeof j.from === 'string' ? j.from : j.from?.emailAddress?.address) || '',\n      subject: j.subject || '',\n      snippet: j.bodyPreview || '',\n      date: j.receivedDateTime || j.sentDateTime || ''\n    });\n  }\n}\n\n// newest first, so the copy we keep is the freshest\nout.sort((a, b) => new Date(b.date) - new Date(a.date));\n\n// de-dupe: collapse the same message arriving in multiple mailboxes\nconst seen = new Set();\nconst deduped = [];\nfor (const m of out) {\n  const norm = s => (s || '').toString().trim().toLowerCase();\n  const key = [\n    norm(m.from).replace(/.*<([^>]+)>.*/, '$1'),   // just the email if \"Name <email>\"\n    norm(m.subject),\n    norm(m.snippet).slice(0, 80)                    // first 80 chars guards against same-subject notifications\n  ].join('|');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(m);\n}\n\nreturn [{ json: {\n  count: deduped.length,\n  duplicatesRemoved: out.length - deduped.length,\n  generatedAt: new Date().toISOString(),\n  messages: deduped\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 176],
      "id": "bb343794-fc4e-47ad-8164-fd31d12097df",
      "name": "Normalize, Sort"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": { "values": { "filters": { "receivedAfter": "={{ $now.minus(1,'day').toISO() }}" } } },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [48, -496],
      "id": "8ff7f714-603e-49c0-a4d8-94ab6d065445",
      "name": "Get JonDoe@Outlook1 Mail",
      "webhookId": "aa1aa4e2-905f-4fea-85b5-f723d0024df7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": { "values": { "filters": { "receivedAfter": "={{ $now.minus(1,'day').toISO() }}" } } },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [48, -304],
      "id": "8c98a70c-10e8-411d-9f5a-fab1676f1056",
      "name": "Get JonDoe@Outlook2 Mail",
      "webhookId": "aa1aa4e2-905f-4fea-85b5-f723d0024df7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Outlook1", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Outlook", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, -496],
      "id": "b50242db-52bc-41c4-a396-4b694a013695",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "2df5a904-6832-42d1-aa22-fefc34f5debc", "name": "account", "value": "JonDoe - Outlook2", "type": "string" },
            { "id": "493389b2-8fef-4654-b913-a184875760b8", "name": "source", "value": "Outlook", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, -304],
      "id": "94011b87-5fb2-4994-a3eb-4ba2f850b712",
      "name": "Edit Fields7"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Get JonDoe@Outlook1 Mail", "type": "main", "index": 0 },
          { "node": "Get JonDoe@Outlook2 Mail", "type": "main", "index": 0 },
          { "node": "Get JonDoe@Gmail1 Mail", "type": "main", "index": 0 },
          { "node": "Get JonDoe@Gmail2 Mail", "type": "main", "index": 0 },
          { "node": "Get JonDoe@Gmail3 Mail", "type": "main", "index": 0 },
          { "node": "Get JonDoe@Gmail4 Mail", "type": "main", "index": 0 },
          { "node": "Get JonDoe@Gmail5 Mail", "type": "main", "index": 0 },
          { "node": "Get JonDoe@Gmail6 Mail", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get JonDoe@Gmail3 Mail": { "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]] },
    "Get JonDoe@Gmail6 Mail": { "main": [[{ "node": "Edit Fields1", "type": "main", "index": 0 }]] },
    "Get JonDoe@Gmail4 Mail": { "main": [[{ "node": "Edit Fields2", "type": "main", "index": 0 }]] },
    "Get JonDoe@Gmail5 Mail": { "main": [[{ "node": "Edit Fields3", "type": "main", "index": 0 }]] },
    "Get JonDoe@Gmail2 Mail": { "main": [[{ "node": "Edit Fields4", "type": "main", "index": 0 }]] },
    "Get JonDoe@Gmail1 Mail": { "main": [[{ "node": "Edit Fields5", "type": "main", "index": 0 }]] },
    "Edit Fields3": { "main": [[{ "node": "Merge", "type": "main", "index": 6 }]] },
    "Edit Fields": { "main": [[{ "node": "Merge", "type": "main", "index": 4 }]] },
    "Edit Fields1": { "main": [[{ "node": "Merge", "type": "main", "index": 7 }]] },
    "Edit Fields2": { "main": [[{ "node": "Merge", "type": "main", "index": 5 }]] },
    "Edit Fields4": { "main": [[{ "node": "Merge", "type": "main", "index": 3 }]] },
    "Edit Fields5": { "main": [[{ "node": "Merge", "type": "main", "index": 2 }]] },
    "Merge": { "main": [[{ "node": "Normalize, Sort", "type": "main", "index": 0 }]] },
    "Normalize, Sort": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Get JonDoe@Outlook1 Mail": { "main": [[{ "node": "Edit Fields6", "type": "main", "index": 0 }]] },
    "Get JonDoe@Outlook2 Mail": { "main": [[{ "node": "Edit Fields7", "type": "main", "index": 0 }]] },
    "Edit Fields7": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Edit Fields6": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] }
  }
}
