workflows/todoist-digest.json
{
  "name": "todoist-digest",
  "nodes": [
    {
      "parameters": {
        "path": "todoist",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1504,
        112
      ],
      "id": "dda2cc1e-6fc1-4f1d-b88c-489abb5840e1",
      "name": "Webhook",
      "webhookId": "a5b5e28a-57df-461b-a0e1-f996b1597773"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "today"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        1728,
        -80
      ],
      "id": "b4d400b2-5877-42b1-ad64-accae9392e0e",
      "name": "Get Due Today",
      "credentials": {
        "todoistApi": {
          "id": "YOUR_TODOIST_CRED_ID",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "overdue"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        1728,
        112
      ],
      "id": "64218edf-f9fa-4059-9f7f-607b32de76cf",
      "name": "Get Overdue",
      "credentials": {
        "todoistApi": {
          "id": "YOUR_TODOIST_CRED_ID",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "(p1 | p2) & ((due after: today & due before: +15 days) | (deadline after: today & deadline before: +15 days))"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        1728,
        304
      ],
      "id": "7737e1d1-43fe-4f48-a80b-82d52406c5d8",
      "name": "Get Upcoming P1/P2",
      "credentials": {
        "todoistApi": {
          "id": "YOUR_TODOIST_CRED_ID",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "366e799d-9371-4d2c-a727-e5e3a3696ef1",
              "name": "bucket",
              "value": "dueToday",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -80
      ],
      "id": "cba5aae0-eebd-4465-b172-18eb473882fd",
      "name": "Tag dueToday"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bf14aff-5f7e-476c-9b28-55bb42d700a7",
              "name": "bucket",
              "value": "overdue",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        112
      ],
      "id": "da69b90e-1dfa-4f36-8c6f-70c7f28fca52",
      "name": "Tag overdue"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3b93ca4-2929-4628-8178-7b07c4f1ddae",
              "name": "bucket",
              "value": "upcoming",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        304
      ],
      "id": "a0d49744-e38f-47c2-9760-aa0ab98becac",
      "name": "Tag upcoming"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        96
      ],
      "id": "9fedacfa-d975-4b3f-9c67-9e46358c65d1",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Group the three Todoist pulls (tagged with `bucket`) into a clean digest shape,\n// and emit ready-made display strings the digest can drop straight into todoist.*.\n// Todoist REST priority is 4=highest..1=lowest; map to P1..P4 (P1 = highest, UI-style).\nconst labelP = (p) => 'P' + (5 - (p || 1));\nconst order = { P1: 0, P2: 1, P3: 2, P4: 3 };\nconst MON = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\nconst pretty = (iso) => {\n  if (!iso) return '';\n  const m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(iso);\n  return m ? MON[+m[2] - 1] + ' ' + (+m[3]) : iso;\n};\n\nconst buckets = { dueToday: [], overdue: [], upcoming: [] };\n\nfor (const it of $input.all()) {\n  const j = it.json;\n  const b = j.bucket;\n  if (!buckets[b]) continue;\n  const due = j.due || {};\n  buckets[b].push({\n    content: j.content || '',\n    priority: labelP(j.priority),\n    due: due.date || due.datetime || '',\n    dueString: due.string || '',\n    deadline: (j.deadline && j.deadline.date) || '',\n    url: j.url || '',\n  });\n}\n\nfor (const k of Object.keys(buckets)) {\n  buckets[k].sort((a, b) =>\n    (order[a.priority] - order[b.priority]) || String(a.due).localeCompare(String(b.due)));\n}\n\n// \"P1: \" / \"P2: \" prefix only (P3/P4 default priority shows no prefix).\nconst priPrefix = (t) => (t.priority === 'P1' || t.priority === 'P2') ? t.priority + ': ' : '';\nconst plainLine = (t) => priPrefix(t) + t.content;\nconst upcomingLine = (t) => {\n  const useDeadline = !!t.deadline;\n  const when = useDeadline ? pretty(t.deadline) : (t.dueString || pretty(t.due));\n  const label = useDeadline ? 'deadline' : 'due';\n  return when ? `${t.priority}, ${label} ${when}: ${t.content}` : `${t.priority}: ${t.content}`;\n};\n\nreturn [{ json: {\n  generatedAt: new Date().toISOString(),\n  counts: {\n    dueToday: buckets.dueToday.length,\n    overdue: buckets.overdue.length,\n    upcoming: buckets.upcoming.length,\n  },\n  dueToday: buckets.dueToday,\n  overdue: buckets.overdue,\n  upcoming: buckets.upcoming,\n  // Ready-to-use strings for todoist.dueToday / todoist.overdue / todoist.upcoming.\n  lines: {\n    dueToday: buckets.dueToday.map(plainLine),\n    overdue: buckets.overdue.map(plainLine),\n    upcoming: buckets.upcoming.map(upcomingLine),\n  },\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        112
      ],
      "id": "aee939bc-aaf3-4b6b-b825-6998db0cec72",
      "name": "Group by bucket"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2624,
        112
      ],
      "id": "c5d29484-6787-4bf2-a0e0-9e4a6740d665",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Due Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Overdue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Upcoming P1/P2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Today": {
      "main": [
        [
          {
            "node": "Tag dueToday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overdue": {
      "main": [
        [
          {
            "node": "Tag overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming P1/P2": {
      "main": [
        [
          {
            "node": "Tag upcoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag dueToday": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag overdue": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tag upcoming": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Group by bucket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by bucket": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 30
  },
  "versionId": "b63573d7-138d-42a2-ba32-2362a59b189f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "KfNeyMn6Bganx5ns",
  "tags": []
}